
@import "./variables";

.top-products-area {
    // background: url("https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss");
    // background-size: contain; 

    background: #f0f0f2; /* Old browsers */
    background: linear-gradient(to bottom, #fff 0%, #fff 50%, #f8f9fa 51%, #f0f0f2 50%);
    background: -moz-linear-gradient(to bottom, #fff 0%, #fff 50%, #f8f9fa 51%, #f0f0f2 50%);
    background: -webkit-linear-gradient(to bottom, #fff 0%, #fff 50%, #f8f9fa 51%, #f0f0f2 50%);

    background-size: 50% 110%;
    background-repeat: repeat-x;
}

.top-products-item {
    text-align: center;
    margin-bottom: 30px;

    .products-image {
        overflow: hidden;
        position: relative;
        padding: 2px;
        img {
            // transition: $transition;
            box-shadow: 0px 0px 1px 1px #ccc;
            // border: 1px solid #eee;
            border-radius: 5px;
        }
        .products-action {
            padding-left: 0;
            list-style-type: none;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
            margin: auto;
            margin-bottom: 0;
            li {
                display: inline-block;
                // transform: translateY(30px);
                // transition: all 0.3s ease-in-out 0s;
                opacity: 0;
                visibility: hidden;
                margin: 0 5px;
                a {
                    display: block;
                    width: 45px;
                    height: 45px;
                    background-color: $white-color;
                    text-align: center;
                    position: relative;
                    font-size: 20px;
                    color: $main-color;
                    border-radius: 50px;
                    transition: $transition;
                    i {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &:hover {
                        color: $white-color;
                        background-color: $main-color;
                    }
                }
                &:nth-child(1) {
                    transition-delay: 0.1s;
                }
                &:nth-child(2) {
                    transition-delay: 0.2s;
                }
                &:nth-child(3) {
                    transition-delay: 0.3s;
                }
                &:nth-child(4) {
                    transition-delay: 0.4s;
                }
            }
        }
        .sale {
            position: absolute;
            left: 10px;
            top: 10px;
            span {
                display: inline-block;
                padding: 10px 20px;
                background-color: $white-color;
                color: $black-color;
                font-size: 15px;
                font-weight: 500;
                border-radius: 5px;
                transition: $transition;
            }
        }
    }
    .products-content {
        margin-top: 25px;
        h3 {
            font-size: 25px;
            margin-bottom: 0;
            font-weight: 600;
            a {
                color: $black-color;

                &:hover {
                    color: $optional-color;
                }
            }
        }
        .price {
            margin-top: 15px;
            margin-bottom: 15px;
            font-weight: 600;
            color: $main-color;
            .old-price {
                text-decoration: line-through;
                color: $paragraph-color;
                font-weight: 500;
            }
        }
        .rating {
            padding-left: 0;
            margin-bottom: 0;
            li {
                list-style-type: none;
                i {
                    font-size: $font-size;
                    color: $main-color;
                }
            }
        }
    }   
    &:hover {
        .products-image {
            .products-action {
                li {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
            img {
                // transform: rotate(1deg) scale(1.1);
            }
            .sale {
                span {
                    background-color: $main-color;
                    color: $white-color;
                }
            }
        }
    }
}
.top-products-slider {
    &.owl-theme {
        .owl-dots {
            .owl-dot {
                span {
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    transition: $transition;
                    border-radius: 50%;
                    border: 1px solid $main-color;
                    position: relative;
                    margin-top: 0;
                    margin-bottom: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $main-color;
                        border-radius: 50%;
                        margin: 4px;
                        opacity: 0;
                        visibility: hidden;
                        transition: $transition;
                        transform: scale(0);
                    }
                }
                &:hover, &.active {
                    span {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
        .owl-nav.disabled+.owl-dots {
            margin-top: 35px;
            line-height: 0;
        }
        .owl-nav {
            [class*=owl-] {
                position: absolute;
                left: 0;
                top: 30%;
                transform: translateY(-30%);
                margin: 0;
                outline: 0;
                width: 45px;
                height: 45px;
                line-height: 52px;
                transition: $transition;
                background-color: $white-color;
                color: $main-color;
                border-radius: 50%;
                opacity: 0;
                visibility: hidden;
                &:hover, &:focus {
                    background-color: $black-color;
                }
                &.owl-next {
                    left: auto;
                    right: 0;
                }
                i {
                    font-size: 25px;
                    font-weight: bold;
                }
            }
        }
        &:hover {
            .owl-nav {
                [class*=owl-] {
                    opacity: 1;
                    visibility: visible;
                    left: -20px;
                    transition: $transition;
    
                    &.owl-next {
                        left: auto;
                        right: -20px;
                    }
                }
            }
        }
    }
}
.orgo-grid-sorting {
    margin-bottom: 40px;
    .result-count {
        p {
            .count {
                font-weight: 700;
                color: $black-color;
            }
        }
    }
    .ordering {
        text-align: right;
        label {
            display: inline-block;
            margin-bottom: 0;
            color: $optional-color;
            margin-right: 5px;
            font-weight: 600;
        }
        .nice-select {
            display: inline-block;
            float: unset;
            width: 215px;
            background: #f8f8f8;
            border-color: #eeeeee;
            color: $black-color;
            transition: $transition;
            padding: 0 0 0 12px;
            height: 45px;
            line-height: 45px;
            font-size: 15px;
            font-weight: 500;
            .list {
                background-color: $white-color;
                border-radius: 5px;
                box-shadow: 0 10px 30px rgba(0,0,0,.2);
                list-style-type: none;
                border: none;
                width: 100%;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                .option {
                    line-height: 38px;
                    min-height: 38px;
                    color: $black-color;
                    position: relative;
                    transition: $transition;
                    padding-left: 15px;
                    padding-right: 25px;
                    font-size: 15px;
                    font-weight: 500;
                    &:hover {
                        background-color: $optional-color !important;
                        color: $white-color;
                    }
                }
            }
            &:after {
                border-color: $black-color;
                height: 8px;
                width: 8px;
                margin-top: -5px;
            }
            &:hover {
                border-color: $optional-color;
                background-color: transparent;
            }
        }
    }
}

/** Responsive
---------------------------------------------------------------------- */
@media only screen and (max-width: 991px) {
    .top-products-item .products-content h3 {
        font-size: 22px;
    }
    .top-products-slider.owl-theme .owl-nav [class*=owl-] {
        opacity: 1;
        // visibility: visible;
    }
    .top-products-slider.owl-theme:hover .owl-nav [class*=owl-] {
        left: 0;
    }
    .top-products-slider.owl-theme:hover .owl-nav [class*=owl-].owl-next {
        right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .top-products-area {
        // .owl-theme .owl-dots, .owl-theme .owl-nav {
        //     display: none;
        // }
        .owl-theme .owl-nav {
            display: none;
        }
    }
}