@import "./variables";

.copyright-area {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #021a32;
    .copyright-area-content {
        p {
            color: $white-color;
            a {
                display: inline-block;
                font-weight: 600;
                color: $main-color;
                &:hover {
                    color: $white-color;
                }
            }
        }

        .text-copyright { min-width: 360px; }
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
            text-align: right;
            li {
                display: inline-block;
                position: relative;
                margin: {
                    left: 10px;
                    right: 10px;
                };
                a {
                    display: inline-block;
                    color: $white-color;
                    &:hover {
                        color: $main-color;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    right: -13px;
                    width: 1px;
                    height: 14px;
                    background-color: $main-color;
                }
                &:last-child {
                    margin-right: 0;
    
                    &::before {
                        display: none;
                    }
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

/** Responsive
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    .copyright-area{
        .copyright-area-content {
            p {font-size: 15px;}  
        }
    }
}

@media only screen and (max-width: 380px) {
    .copyright-area{
        .copyright-area-content {
            p {font-size: 13px;}  
            .text-copyright { min-width: auto; }
        }
    }
}



