.faixa-comprar {
    position: relative;
    background-color: #f0f0f2;
    // background-position: center center;
    // background-size: cover;
    // background-repeat: no-repeat;
    .fc-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        
        .item {
            width: 100px;
            height: 40px;
            border-radius: 2px;
            margin: 5px 5px 5px 0;
            background-color: #fff;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center -2px;
            border: 1px solid #ccc;
            &:last-child {margin-right: 0px;}
        }
    }
}

