.garantia-area {
    position: relative;
    background-image: url(/assets/images/bg-garantia.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000 none repeat scroll 0 0;
        opacity: 0.5;
    }

    p, h2 {color: #fff}
    
    .text-bold { 
        font-weight: 700; 
        text-shadow: 1px 1px 1px #f6c359; 
        color: #f1be50
    }
}


/** Responsive
---------------------------------------------------------------------- */
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .garantia-area {
        .container { max-width: 100%;}
        .g-main {
            text-align: center;
            .g-img-selo {max-height: 250px;}
        }
    } 
}

@media only screen and (max-width: 767px) {
    .garantia-area {
        .g-main {
            text-align: center;
            padding: 15px 0;
            .g-img-selo {max-height: 150px;}
        }
    } 
}