@import "./variables";

.main-banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.main-banner-item {
    background-image: url(/assets/images/main-banner-bg-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    background-attachment: fixed;

    &.banner-item-two {
        background-image: url(/assets/images/main-banner-bg-1.jpg);
        padding-top: 50px;
        padding-bottom: 0;
        overflow: hidden;
        background-attachment: unset;

        .main-banner-content {
            h1 {
                color: $black-color;
                font-size: 55px;
            }
            p {
                color: $paragraph-color;
                margin-bottom: 0;
            }
        }
    }
}
.main-banner-content {
    max-width: 680px;
    span {
        font-size: 32px;
        color: $main-color;
        font-weight: 900;
    }
    h1 {
        font-size: 60px;
        color: $white-color;
        margin-top: 15px;
        margin-bottom: 20px;
        line-height: 65px;
        text-shadow: 2px 0px 5px black;
    }
    p {
        color: $white-color;
        margin-bottom: 0;
    }
    .banner-btn {
        margin-top: 30px;
    }
}
.main-banner-shape {
    .shape-1 {
        position: absolute;
        bottom: 30px;
        left: 0;
        max-width: 150px;
        animation: moveBounce 5s linear infinite;
    }
}
.main-banner-image {
    margin-top: 30px;
}

/** Responsives
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    .main-banner {
        .main-banner-item {
            padding-top: 60px;
            padding-bottom: 60px;
            position: relative;
            // z-index: 1;
    
            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background-color: #000000;
                left: 0;
                right: 0;
                top: 0;
                z-index: -1;
                opacity: .80;
            }
            &.banner-item-two {
                &::before {
                    display: none;
                }
                .main-banner-content {
                    span {
                        font-size: 15px;
                    }
                    h1 {
                        font-size: 30px;
                    }
                }
            }
        }
        .main-banner-image {
            text-align: center;
        }
        .main-banner-content {
            span {
                font-size: 16px;
            }
            h1 {
                font-size: 35px;
                line-height: 38px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-banner {
        .ç-item {
            padding-top: 100px;
            padding-bottom: 100px;
            position: relative;
            z-index: 1;

            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background-color: #000000;
                left: 0;
                right: 0;
                top: 0;
                z-index: -1;
                opacity: .80;
            }
            &.banner-item-two {
                &::before {
                    display: none;
                }
            }
        }
        .main-banner-image {
            text-align: center;
        }
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-banner {
        .main-banner-item {
            &.banner-item-two {
                padding-top: 30px;
                padding-bottom: 80px;
            }
        }
    }
}

@media only screen and (min-width: 1550px) {
    .main-banner {
        .main-banner-item {  padding-top: 275px; padding-bottom: 275px;}
    }
}