@import "./variables";

.department-area {
    .single-department {
        margin-bottom: 30px;
    
        .department-image {
            position: relative;
            overflow: hidden;
            text-align: center;

            .icons { font-size: 132px; line-height: 0; padding: 0;margin: 0; }
            .iconbg {
                position: relative;
                height: 120px;
                width: 120px;
                margin: auto;
                background-repeat: no-repeat;
                background-size: contain;
                background-size: 79px 79px;
                background-position: center;
                border: 2px solid #f99459;
                border-radius: 50%;
                background-color: #a5f3bc;

                // &::before {
                //     content: '';
                //     position: absolute;
                //     // background-color: #ccc;
                //     left: -10px;
                //     top: -10px;
                //     border: 2px solid #ccc;
                //     border-radius: 50px;
                //     width: 120px;
                //     height: 120px;

                // }
            }
           

            img {
                transition: $transition;
            }
            .content {
                // position: absolute;
                // bottom: 0;
                // left: 0;
                // right: 0;
                text-align: center;
                padding: 15px 5px;
                h3 {
                    font-size: 22px;
                    a {
                        color: $black-color;
                    }
                }
                p { line-height: 22px;}
            }
        }
        &:hover {
            .department-image {
                img {
                    transform: rotate(1deg) scale(1.2);
                }
                .content {
                    h3 {
                        a {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
    
}