@import "./variables";

.faq-area {
    background-color: #fafafa;

    .faq-accordion {
        .accordion {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .accordion-item {
                display: block;
                background: #f3f3f3;
                margin-bottom: 10px;
                width: 48%;
                height: max-content;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            .accordion-title {
                padding: 15px 40px 10px 20px;
                color: $black-color;
                position: relative;
                display: block;
                // text-transform: capitalize;
                font-size: 18px;
                font-weight: 600;
                i {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $black-color;
                    font-size: 20px;
                    transition: $transition;
                }
                &.active {
                    i {
                        &::before {
                            content: "\eace";
                            color: $optional-color;
                        }
                    }
                }
            }
            .accordion-content {
                display: none;
                position: relative;
                padding: 18px 20px;
                border-top: 1px solid $optional-color;
                color: $paragraph-color;
                line-height: 20px;

                &.show {
                    display: block;
                }
            }
        }
    }
}

/** Responsive
---------------------------------------------------------------------- */
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .faq-area {
        .container { max-width: 100%;}
    } 
}

@media only screen and (max-width: 767px) {
    .faq-area {
        .faq-accordion {
            .accordion {
                .accordion-item {
                    width: 100%;
                }
            }
        }
    } 
}