.periodo-mudancas {
    position: relative;
    // background-image: url(/assets/images/bg-black.jpg);
    // background-position: center center;
    // background-size: cover;
    // background-repeat: repeat-y;

   
}