@import "./variables";

.receitas-area {
    .single-receitas {
        margin-bottom: 30px;
    
        .receitas-image {
            position: relative;
            overflow: hidden;
            text-align: center;
            .icons { font-size: 132px; line-height: 0;height: 0;padding: 0;margin: 0; }
            .box-image {
                max-width: 290px;
                max-height: 290px;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                img {
                    transition: $transition;
                    border: 1px solid #dac9b7;
                    border-radius: 100%;
                    padding: 10px;
                    box-shadow: 0px 0px 20px 0px rgb(184, 152, 116);
                }
            }
            .content {
                // position: absolute;
                // bottom: 0;
                // left: 0;
                // right: 0;
                text-align: center;
                padding: 15px 5px;
                h3 {
                    font-size: 22px;
                    a {
                        color: $black-color;
                    }
                }
                p { line-height: 22px;}
            }
        }
        &:hover {
            .receitas-image {
                .box-image {
                    img {
                        transform: rotate(1deg) scale(1);
                    }
                }
                
                .content {
                    h3 {
                        a {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 575px)  {
    .receitas-area {
        .single-receitas {
            .receitas-image {
                .box-image {
                    max-width: 250px;
                }
            }
        }
    }
}