$main-font-family: 'Rubik', sans-serif;
$optional-font-family: 'Open Sans', sans-serif;
$main-color: #f35320;
$optional-color: #f99459;
$white-color: #ffffff;
$black-color: #111111;
$paragraph-color: #6b6b84;
$font-size: 16px;
$transition: .5s;