@import "./variables";

.overview-area {
    background-image: url(/assets/images/overview-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.overview-content {
    h3 {
        font-size: 40px;
        color: $white-color;
        margin-bottom: 18px;
    }
    p {
        color: $white-color;
        margin-bottom: 0;
    }
    .overview-btn {
        margin-top: 30px;
    }
}
.overview-video {
    text-align: center;
    position: relative;

    .video-btn {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        background-color: $white-color;
        border-radius: 50%;
        color: $black-color;
        z-index: 1;
        text-align: center;
        position: relative;

        i {
            font-size: 60px;
            position: relative;
            top: 20px;
            left: 0;
            color: $main-color;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            border: 2px solid $white-color;
            animation: ripple 1s linear infinite;
        }
        &:hover {
            background-color: $main-color;
            
            i {
                color: $white-color;
            }
        }
    }
}
@keyframes ripple {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.75);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}



/** Responsive
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px)  {
    .overview-area {
        .overview-content {
            max-width: 380px;
            padding-top: 29px;
            margin: auto;
            text-align: center;
            h3 {
                font-size: 25px;
                margin-bottom: 29px;
            }
            p {
                color: $white-color;
                margin-bottom: 0;
            }
            .overview-btn {
                margin-top: 30px;
            }
        }
    }
}

@media only screen and (max-width: 575px)  {
    .overview-area {
        .overview-content {
            max-width: 320px;
        }
    }
}