body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #111111;
}

a:hover, a:focus {
    color: #f35320;
    text-decoration: none;
}

button {
    outline: 0 !important;
}

p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

p:last-child {
    margin-bottom: 0;
}

i {
    line-height: normal;
}

.d-table {
    width: 100%;
    height: 100%;
}

.d-table-cell {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-100 {padding-top: 100px;}
.pb-100 {padding-bottom: 100px;}
.pt-50 {padding-top: 50px;}
.pb-50 {padding-bottom: 50px;}
.pt-70 {padding-top: 70px;}
.pb-70 {padding-bottom: 70px;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #111111;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    // text-transform: capitalize;
}

.h1:last-child, .h2:last-child, .h3:last-child, .h4:last-child, .h5:last-child, .h6:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

/*================================================
Default btn CSS
=================================================*/
.default-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #f99459;
    color: #ffffff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.default-btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #f35320;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 30px;
}

.default-btn:hover {color: #ffffff;}
.default-btn:hover::before {height: 100%;}

.optional-btn {
    display: inline-block;
    padding: 12px 35px;
    background-color: #f35320;
    color: #ffffff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    margin-left: 15px;
    overflow: hidden;
}

.optional-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #f99459;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 30px;
}

.optional-btn:hover {color: #ffffff;}
.optional-btn:hover::before {height: 100%;}

.container-site { overflow: auto; height: 100vh; }

.section-title { max-width: 780px;margin: 0 auto 45px; text-align: center;}
.section-title h2 {
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 40px;
  font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 767px) {
    .section-title h2 {
        font-size: 25px;
        line-height: 29px;
    }
}